* > {
    margin: 0;
    padding: 0;
}

:root { 
    /* here are pictures, colors etc. */
    /* --stirring-cup-image:url("../images/Gemini_Generated_Image_Stirring_Cup.png");
    --logo-image:url("../images/Gemini_Generated_Image_Logo.png");
    --travel-mug-image:url("../images/Gemini_Generated_Image_Travel_Mug.png");
    --temperature-mug-image:url("../images/Gemini_Generated_Image_Temperature_control.png");
    --background-image:url("../images/Gemini_Generated_Image_Smoke.png"); */
    --header-background-col:rgb(204, 34, 34);
    --sub-header-background-col:gray;
    --border-col-1:rgb(45, 45, 45);
    --p-color-sub-header:white;
    --p-color-figcaption:white;
<<<<<<< HEAD
    --h3-background-color:hotpink;
=======
    --footer-background-col:gray;
>>>>>>> 7be61a00a112edd1409eeaeed1400d15dbd14a90
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    background-color: rgb(196, 196, 196);
}

header {
    position:fixed;
    width: 100vw;
    top: 0;
    z-index: 10;
    background-color: var(--header-background-col);
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    img {
        /* background-size: contain;
        background-repeat: no-repeat; */
        width: 350px;
    }
    button{
        /* align-items: flex-end; */
        /* text-decoration: none; */
        border: 1px solid black;
        background-color: black;
        color:white
    }
}
main {

    width: 75%;
    max-width: 1647px;
    padding-top: 7em;
    background-image: url("../images/Gemini_Generated_Image_Smoke.png");
    border: 5px solid hotpink;
    /* border-left: 5em solid transparent;
    border-right: 5em solid transparent;
    max-width: 100%; */
}


.sub-header-box {
    background-color:var(--sub-header-background-col);
    padding-left: 5%;
    padding-right: 5%;
    h1 {
        font-size: 3em;
        text-align: center;
    }
    p {
        font-size: 1.3em;
        color: var(--p-color-sub-header);
    }
}

.product-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    justify-items: center;
}
    @media (min-width: 600px) {
    .product-grid {
    grid-template-columns: repeat(3, 1fr);
    }
}

.product-card {
    & > * {
        background-size:cover;
        background-repeat: no-repeat;
        border: 5px solid var(--border-col-1);
        font-size: 1.5em;
<<<<<<< HEAD
    }
}
=======
}



>>>>>>> 7be61a00a112edd1409eeaeed1400d15dbd14a90

figcaption {
    & > * {
        margin: 1em;
    }
    .h3-box {
        width: auto;
        height: auto;
        background-color: var(--h3-background-color);
        border-radius: 7px;
        text-align: center;
    }
    p {
        color: var(--p-color-figcaption);
            text-align: center;
            border: 1px solid black;
            border-radius: 0.5em;
            padding: 1em;
    }
}

footer{
        display: grid;
        background-color: var(--footer-background-col);
        grid-template-columns:repeat(3, 1fr);
        /* justify-content: space-between; */
        grid-area: footer;
        padding: 0.5em;
        border: 1px solid black;
    
        .adress{
            grid-column: 2;
            place-items: center;
            color: white;

        }
        .footer-links{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3 , 1fr);
            justify-items: center;
            align-items: center;
            text-decoration: none;
            color: white;
            gap: 1em;
           
            
        }
        .some-icons{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            place-items: center;
            width: 100%;
        }
}