* > {
    margin: 0;
    padding: 0;
}

:root { 
    --header-background-col:gray;
    --sub-header-background-col:gray;
    --border-col-1:rgb(45, 45, 45);
    --p-color-sub-header:white;
    --p-color-figcaption:white;
    --footer-background-col:gray;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* min-height: 100vh; */
    margin: 0;
    background-color: rgb(196, 196, 196);

}
header {
    position:fixed;
    width: 100vw;
    top: 0;
    z-index: 10;
    background-color: var(--header-background-col);
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    img {
        /* background-size: contain;
        background-repeat: no-repeat; */
        width: 350px;
    }
    .header-button{
        /* align-items: flex-end; */
        /* text-decoration: none; */
        border: 1px solid black;
        border-radius: 0.5em;
        padding: 0.5em;
        background-color: black;
        color:white;
        text-decoration: none;
    }
}
.hamburger {
  display: none;
  font-size: 2em;
  cursor: pointer;
    }
@media (max-width: 850px) {
  .header-button{
    display: none;
  }
    .hamburger {
    display: block;
  }
}
main {
    width: 90%;
    /* max-width: 1647px; */
    padding: 7em 3em;
    background-image: url("../images/Gemini_Generated_Image_Smoke.png");
    border: 5px solid hotpink;
    /* border-left: 5em solid transparent;
    border-right: 5em solid transparent;
    max-width: 100%; */
}
.big-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  img{
    max-width: 800px;
  }
}

.sub-header-box {
    background-color:var(--sub-header-background-col);
    padding-left: 5%;
    padding-right: 5%;
    h1 {
        font-size: 3em;
        text-align: center;
    }
    p {
        font-size: 1.3em;
        color: var(--p-color-sub-header);
    }
}
.second-header-box {
    background-color:var(--sub-header-background-col);
    padding-left: 5%;
    padding-right: 5%;
    border: 2px solid hotpink;
    border-radius: 10px;
    /* width: 20em;
    margin-left: 15em; */
    h2 {
        font-size: 2em;
        text-align: center;
    }
    p {
        font-size: 1.3em;
        color: var(--p-color-sub-header);
    }
}
figcaption {
    background-color: green;
    border-radius: 10px;
    padding: 0;
    & > * {
        margin: 1em;
    }
    .h3-box {
        width: auto;
        height: auto;
        background-color: rgb(247, 202, 247);
        border-radius: 7px;
        text-align: center;
    }
    p {
        color: var(--p-color-figcaption);
            text-align: center;
            border: 1px solid rgb(0, 0, 0);
            border-radius: 0.5em;
            padding: 1em;
            font-size: 2em;
    }
}

footer{
    bottom: 0;
    width: 100vw;
    /* z-index: 10; */
    background-color: var(--footer-background-col);
}
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    img {
        /* background-size: contain;
        background-repeat: no-repeat; */
        width: 100px;
    }
    .adress{
        /* grid-column: 2; */
        place-items: center;
        color: white;
            
    }
    .footer-links{
        display: grid;
        /* grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3 , 1fr); */
        justify-items: center;
        align-items: center;
        text-decoration: none;
        color: white;
        /* gap: 1em; */
        font-size: 2em;
    }
    .some-icons{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            place-items: center;
            /* width: 100%; */
    }
}