:root { 
    /* here are pictures, colors etc. */
    --main-image:url();
}
/* .more-info {

} */

.main-image {
    background-image: var(--main-image);
}

/* .commentary-grid {

} */
 /* .main-page {
    overflow: auto;
 } */

 @media (min-width: 600px) {
    main .product-grid {
        grid-template-columns: repeat(3, 1fr);
        /* justify-content: center; */
    }
 }