:root {
    /* här ligger alla bilder och typsnitt */
    --stirring-cup-image:url("../images/Gemini_Generated_Image_Stirring_Cup.png");
    --logo-image:url("../images/Gemini_Generated_Image_Logo.png")
    
    }
    body{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: 
        "header header"
        "main main"
        "footer footer";
        min-height: 100dvh;
    }
    .header-box{
        display: flex;
        flex-direction: row;
        justify-content: center;
        grid-area: header;
        padding: 0.5em;
        place-items: center;
        position: sticky;
        top: 0;
        background-color: rgba(208, 205, 205, 0.848);
        
        .separator{
            /* flex-grow: 1; */
        }
        button{
            align-items: flex-end;
            text-decoration: none;
            border: 1px solid black;
            background-color: black;
            color:white

        }
    }
    .logo{
        /* background-image: var(--logo-image);
        border: 5px solid black;
        width: 5em;
        height: 5em;
        position: fixed;
        top: 0.5em;
        left: 1em; */

    }
    .main-product{
        grid-area: main;
        place-items: center;
        padding: 0.5em;

        .main-product-image{
            background-image: var(--stirring-cup-image);
            background-size: cover;
            height: 20em;
            width: 20em;
            border: 1px dashed hotpink;
            
            
        }

        .product-name{
            text-decoration: underline;
        }
        .main-product-info{
            text-align: center;
            border: 1px solid black;
            border-radius: 0.5em;
            padding: 1em;
        }
    
    }
    .buy-button{
        display: grid;
        border: 1px solid rgb(8, 8, 8);
        background-color: rgb(0, 0, 0);
        color: white;
        margin-top: 1em;
        border-radius: 2em;
        font-weight: bold;
        padding: 0.5em 1em;
        }

    .footer-grid{
        display: grid;
        grid-template-columns:repeat(3, 1fr);
        /* justify-content: space-between; */
        grid-area: footer;
        padding: 0.5em;
        border: 1px solid black;
    
        .adress{
            grid-column: 2;
            place-items: center;

        }
        .footer-links{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-items: center;
            align-items: center;
        }
        .some-icons{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            place-items: center;
            width: 100%;

        }
}