:root {
    /* här ligger alla bilder och typsnitt */
    --stirring-cup-image:url("../images/Gemini_Generated_Image_Stirring_Cup.png");
    --logo-image:url("../images/Gemini_Generated_Image_Logo.png")
}
h1 {
    
}

h2 {

}

h3 {

}
header {
    .logo {

    }
}
body {
    display: grid;
}

.sub-header-box {
    p {

    }
}

/* .more-info {

} */

.main-image {
    background-image: var();
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3 1fr);
    grid-template-rows: repeat(2 1fr);
    width: 5000px;
    height: 5000px;
    /* & > * {
        width: 2000px;
        height: 2000px;
    } */
    .main-product-image {
        background-image: var(--stirring-cup-image);
        background-size: auto;
        background-repeat: no-repeat;
        border: 2px solid red;
    }
    .second-product-image {
        background-image: var();
        border: 2px solid red;
    }
    .third-product-image {
        background-image: var();
        border: 2px solid red;
    }
    .product-subheading {
        border: 2px solid red;
    }
}

/* .commentary-grid {

} */

footer { display: grid;
    grid-template-columns:repeat(3 3fr);
    grid-template-rows:repeat(2 3fr) ;
    border: 2px solid red;

}